<footer>
    <div>
        <span>&copy; {{ "now" | date: "%Y" }} Phillip Jackson</span>
    </div>
    <nav class="">
        <a href="https://codepen.io/unisys12">
            <img src="/assets/imgs/codepen.svg" class="icon" id="codepen" alt="codepen" width="50px" height="50px" />
        </a>
        <a href="https://twitter.com/unisys12">
            <img src="/assets/imgs/twitter.svg" class="icon" id="twitter" alt="twitter" width="50px" height="50px" />
        </a>
        <a href="https://www.facebook.com/profile.php?id=100081839772235">
            <img src="/assets/imgs/facebook.svg" class="icon" id="facebook" alt="facebook" width="50px" height="50px" />
        </a>
        <a href="https://github.com/unisys12">
            <img src="/assets/imgs/github.svg" class="icon" id="github" alt="github" width="50px" height="50px" />
        </a>
        <a href="https://gitlab.com/unisys12">
            <img src="/assets/imgs/gitlab.svg" class="icon" id="gitlab" alt="gitlab" width="50px" height="50px" />
        </a>
    </nav>
</footer>