    <ul class="sm:grid grid-cols-3 gap-2 font-medium">
        <li>
            <a href="/" class="text-gray-100 hover:text-gray-200 transition-colors">Home</a>
        </li>
        <li>
            <a href="#" class="text-gray-100 hover:text-gray-200 transition-colors">Topics</a>
        </li>
        <li>
            <a href="#" class="text-gray-100 hover:text-gray-200 transition-colors">About</a>
        </li>
    </ul>