<header class="align-center sm:grid sm:grid-cols-2 my-8">
    <a href="/">
    <h1 class="font-semibold text-4xl text-gray-100 hover:text-gray-200 transition-colors">Unisys12</h1>
    </a>
    <nav class="">
        {% include "components/nav.njk" %}
    </nav>
</header>