@layer reset {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: 'Open Sans', Arial, Helvetica;
        font-display: swap;
        text-rendering: optimizeLegibility;
    }

    p {
        letter-spacing: 0.025em;
    }
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.content-header {
    display: grid;
    place-items: center;
}

.header-nav {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: rgba(25, 10, 75, 0.95);
}

.header-nav > a:hover {
    color: rgba(11, 2, 39, 0.95);
}

p > img {
    max-width:75dvw;
}

p > em {
    font-weight: 600;
}

p > code {
    font-weight: 500;
    color: rgba(0,0,0, 0.925);
    background: rgba(128, 128, 128, 0.397);
    padding: 2px;
    border-radius: 1px;
}

main > pre {
    min-width: min-content;
    text-wrap: balance;
    margin-top: -10px;
    padding: .5rem;
    border: 1px solid gray;
    border-radius: 5px;
}

/* Used when viewing a blog post */
.blog-display {
    display: grid;
    place-items: center;
}

.blog-display > h2 {
    place-content: start;
}

.blog-display > h1 {
    place-content: center;
}

/* Portfolio & Blog Cards */
.cards-display {
    display: grid;
    row-gap: 1rem;
}

.card {
    display: grid;
    place-items: center;
    padding: .5rem;
    border: 1px solid rgba(11, 2, 39, 0.95);
    border-radius: 1rem;
}

.card-tags {
    display: flex;
    list-style-type: none;
}

.card-tag {
    padding: 0 .25rem;
    display: inline;
}

.card-description {
    text-align: center;
}

.card-link-button {
    padding: 1rem 1.5rem;
    border: solid rgba(25, 10, 75, 0.95) 1px;
    border-radius: .5rem;
    background: rgba(11, 2, 39, 0.95);
    color: #fff;
    box-shadow: 6px 5px .25rem rgba(11, 2, 39, 0.55);
    transition: 
        box-shadow 0.3s ease-in-out,
        border 0.1 ease-in;
}

.card-link-button:hover {
    box-shadow: 3px 2px .25rem rgba(11, 2, 39, 0.55);
}

.card-link-button:active {
    border: groove white 2px;
}

/* Syntax Highlight Code Diffs */
.line.highlighted {
    background: #65b10319;
}

.line.diff.add::before {
    content: "+";
    color: #fff;
}

.line.diff.remove::before {
    content: "-";
    color: #e2878780;
}

.line.diff.add {
    background: #65b10319;
    box-shadow: inset 0.5rem 0 0 #487e02;
}

.line.diff.remove {
    background: #8004;
    box-shadow: inset 0.5rem 0 0 #800;
}

@media only screen and (min-width: 768px) {

    body {
        margin: 0 4rem;
    }

    .content-header {
        grid-template-columns: minmax(150px, 25%) 1fr;
        place-items: center;
    }

    .content-header>h1 {
        justify-self: start;
    }

    .header-nav {
        justify-self: end;
    }
}