---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const allBlogPosts = await getCollection("blog");
---

<BaseLayout title="Blog">
  <div>
    {
      allBlogPosts.map((post) => (
        <article>
          <h2>{post.data.title}</h2>
        </article>
      ))
    }
  </div>
</BaseLayout>
