---
const date = new Date();
const year = date.getFullYear();
---

<style>
footer {
  display: flex;
  justify-content: space-around;
  align-items: end;
}

.icon {
  max-height: 4vh;
}
</style>

<footer>
  <div>
    <span>&copy; {year} Phillip Jackson</span>
  </div>
  <div class="footer-nav">
    <nav class="">
      <a href="https://codepen.io/unisys12"
        ><img
          loading="lazy"
          src="/assets/imgs/codepen-svg.svg"
          class="icon"
          id="codepen"
          alt="codepen"
        /></a
      >
      <a href="https://twitter.com/unisys12">
        <img
          loading="lazy"
          src="/assets/imgs/twitter-svg.svg"
          class="icon"
          id="twitter"
          alt="twitter"
        />
      </a>
      <a href="https://www.facebook.com/profile.php?id=100081839772235"
        ><img
          loading="lazy"
          src="/assets/imgs/facebook-svg.svg"
          class="icon"
          id="facebook"
          alt="facebook"
        /></a
      >
      <a href="https://github.com/unisys12"
        ><img
          loading="lazy"
          src="/assets/imgs/github-svg.svg"
          class="icon"
          id="github"
          alt="github"
        /></a
      >
      <a href="https://gitlab.com/unisys12"
        ><img
          loading="lazy"
          src="/assets/imgs/gitlab-svg.svg"
          class="icon"
          id="gitlab"
          alt="gitlab"
        /></a
      >
    </nav>
  </div>
</footer>
