---
const path = Astro.url.pathname;
---

<header class="content-header">
  <h1>Unisys12</h1>
  <nav class="header-nav">
    <a href="/" class={path == "/" ? "active" : ""}>Home</a>
    <a href="/blog" class={path == "/blog" ? "active" : ""}>Blog</a>
    <a href="/portfolio" class={path == "/portfolio" ? "active" : ""}
      >Portfolio</a
    >
  </nav>
</header>
