---
layout: layout
title: Unisys12
---

<header>
    <h1 class="text-3xl text-green-100 font-medium">Recent Posts</h1>
</header>

{% for post in collections.posts %}
<section class="bg-gray-100 border rounded-md mb-8 p-4 max-w-4xl align-middle">
    <header>
        <img src="https://via.placeholder.com/800x180/Text=Image Placeholder" alt="Image Placeholder">
        <a href="{{ post.url }}">
            <h2 class="text-2xl">{{ post.data.title }}</h2>
        </a>            
    </header>
    <article>
        <p>{{ post.data.excerpt }}</p>
    </article>
</section>
{% endfor %}