---
layout: layout
---

<h1 class="text-4xl text-gray-100">Tags Page</h1>
<p class="text-lg text-gray-100">The goal is to create a page that reflects emphasis on topics/tags</p>

<p class="text-lg text-gray-100">Working on it... OK! I'm trying not to cheat!</p>

{# {% for i, item in collections %}
    <code>{{ i | log }}</code>
{% endfor %} #}