---
const title = Astro.props;
const { frontmatter } = Astro.props;
---

<style is:global>
  .line.diff.add::before {
    content: "+";
    color: #fff;
  }

  .line.diff.remove::before {
    content: "-";
    color: #e2878780;
  }
  .line.diff.add {
    background: #65b10319;
    box-shadow: inset 0.5rem 0 0 #487e02;
  }
  .line.diff.remove {
    background: #8004;
    box-shadow: inset 0.5rem 0 0 #800;
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <header>
      <h1>Unisys12</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/portfolio">Portfolio</a>
      </nav>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
