---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={ frontmatter.title } />
    <meta property="og:url" content={ Astro.url } />
    <meta property="og:description" content={ frontmatter.description } />
    <meta property="og:image" content={frontmatter.image} />
    <title>{frontmatter.title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <Header />
      <main class="blog-display">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
