---
import Footer from "../components/Footer.astro";
const title = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <header class="content-header">
        <h1>Unisys12</h1>
        <nav class="header-nav">
          <a href="/">Home</a>
          <a href="/blog">Blog</a>
          <a href="/portfolio">Portfolio</a>
        </nav>
      </header>
      <main class="summary">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
